body {
    margin: 0;
}

#header {
    display:flex;
    justify-content: center;
    background-color:#D6E3EB;
    
    
}

h1 {
    font-size: 40px;
    font-family: "Roboto", serif;
    
}

#btn-cont {
    display: flex;
    justify-content: space-around;
}

.waves, .rain, .nature {
    margin-top: 200px;
    padding:25px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    width:200px;
    text-decoration: none;
    font-family: "Roboto", serif;
    font-size: 25px;
    color:black;
    font-weight: bold;
    text-align: center;
}

.waves {
    
    background: linear-gradient(to right,#acb6e5,#8afde8);
}

.rain {
    background: linear-gradient(to right,#8DD8FF,#4E71FF);
}

.nature {
    background: linear-gradient(to right,#D3ECCD,#06923E);
    
}



.waves:hover {
    background: #8afde8;
}

.rain:hover {
    background: #4E71FF;
    
}

.nature:hover {
    background: #06923E;
}

#myVideo {
    position:fixed;
    top:0;
    right:0;
    min-width:100%;
    min-height: 100%;
    z-index: -10;
}

@media all and (max-width: 500px) {

    #btn-cont {
        flex-direction: column;
        align-items: center;
    }

    #btn {
        margin-top: 40px;
    }

    #header {
        
        background: linear-gradient(to right,#acb6e5,#74ebd5);
    }

}

